#nima 
{

	padding: 5px;
	margin-left: 10%;
	margin-right: 10%;
}

#id1
{	
	margin-top: 10px;
	margin-right: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow: hidden;
	border: 5px green solid;
	background-color: white;
	padding: 5px;

	
	
}
#h1
{
	border: 5px red solid;	
	text-align: right;
	
}
#h2
{
	border: 5px orange solid;
	text-align: right;
}

.b1
{

	border: 5px blue solid;
	background-color: #E8FBFB;
	padding-left: 5px;
 overflow: hidden;

}
	
.date
{
	border: 5px purple solid;
}


.im
{

	float:right;
	


}